*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --lilaa: #572279;
    --lilaa--fuerte: #451365;
    --rosa:#E0007A;
    --azull:#0099DC;
    
    --lato:'Lato', sans-serif;
}
h1,h2,h3,h4,a,p{
    font-family: var(--lato);
    margin: 0;
    padding: 0;
    font-weight: 400;
}
.cont-whats{
    display: flex;
    bottom: 1%;
    right: 1%;
    width: 385px;
    height: 100px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.ocultar-whats{
    opacity: 0%;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
}

.cont-texto{
    cursor: pointer;
    background: #EFEFEF;
    width: 90%;
    position: relative;
    height: 72px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    box-shadow: 0px 10px 30px #00000030;    
}
.cont-texto img{
    background: white;
    width: 56px;
    height: 56px;
    position: absolute;
    left: -35px;
    border: 2px solid #AEB0B3;
    border-radius: 100%;
    padding: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.cont-texto h1{
    color: #0099DC;
    font-size: 16px;
    font-weight: 700;
}

.btn-whatsapp a{
    text-decoration: none;
    color: white!important;
}

.btn-whatsapp{
    position: absolute;
    right: 0;
    width: 96px;
    height: 96px;
    border: 4px solid white;
    background: #00bb2d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 0px 10px #00000050;
}

.cont-whats p{
    transition: 400ms all ease;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    z-index: 1;
}
.cont-whats:hover p{
    opacity: 100%;
    transition: 400ms all ease;
    -webkit-transition: 400ms all ease;
    -moz-transition: 400ms all ease;
    -ms-transition: 400ms all ease;
    -o-transition: 400ms all ease;
}

.texto-descripcion{
    font-size: 16px;
    font-weight: 400;
    color: #5A5B5E;
    line-height: 22px;
}

.f-c{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegacion{
    background: var(--rosa);
    width: 100%;
    height: auto;
    border-top: 5px solid var(--lilaa);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 25px;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
}

.navv{
    padding: 0!important;
}
.nav-fijo{
    padding: 0!important;
    z-index: 10000;
    background: var(--rosa);
    position: fixed!important;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    transition: 3s all ease;
    box-shadow: 0px 5px 15px #00000030;
}

.logoM{
    width: 200px!important;
    height: 89px!important;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
}

.logo{
    width: 300px;
    height: 109px;
}
.logo2{
    width: 143px;
    height: 80px;
    display: none;
    margin: auto;
}

.posicion{
    justify-content: space-between;
    height: 160px;
    height: auto;
    position: relative;
    transition: 400ms all ease;
    -webkit-transition: 400ms all ease;
    -moz-transition: 400ms all ease;
    -ms-transition: 400ms all ease;
    -o-transition: 400ms all ease;
}

.nav-redes div{
    background: white;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.nav-redes i{
    transition: 300ms all ease;
    font-size: 22px;
    color: var(--rosa);
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
}
.facebook:hover i{
    color: var(--azull);
}
.linke:hover i{
    color: #0A66C2;
}
.insta:hover i{
    color: #F46F30!important;
}

.navbar-nav a{
    font-size: 16px;
    font-weight: 400;
    color: white!important;
    cursor: pointer;
}
.navbar-nav h1{
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #5A5B5E;
}
.navbar-nav a:hover{
    color: var(--lilaa)!important;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
}
.navbar-nav{
    width: 60%;
    justify-content: space-around;
}
.estilo-c{
    border-radius: 40px;
    border: 1px solid #E0007A;
    width: 120px;
    height: 40px;
    color: #E0007A!important;
    background: white;
}

.estilo-c:hover{
    background: var(--lilaa);
    color: white!important;
}
.logo-menu{
    position: absolute;
    z-index: 1;
}


.seccion{
    background: var(--rosa);
    padding-top: 20px;
    height: 700px;
}

.dimen{
    height: 590px;
    position: relative;
}

.dimen .col-md-5{
    position: relative;
}

.img-esteto{
    background-image: url(/img/slideAdvita1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position: bottom;
    padding-top: 150px;
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
}

.c-presentacion{
    width: 515px;
    height: 305px;
}
.c-presentacion h2{
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.c-presentacion p{
    color: white;
    font-size: 16px;
    font-weight: 400;  
}
.btn-presentacion{
    display: flex;
    width: 305px;
    display: flex;
    justify-content: space-between;
}
.btn-presentacion .btnum{
    background: var(--lilaa);
    width: 140px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    transition: 400ms all ease;
    justify-content: center;
    align-items: center;
}
.btn-presentacion .btnd{
    background: var(--azull);
    width: 140px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: 400ms all ease;

    align-items: center;
}

.btn-presentacion .btnum a{
    margin: 0;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    transition: 400ms all ease;
    color: white;
}
.btn-presentacion .btnd a{
    margin: 0;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    color: white;
    transition: 400ms all ease;
}
.flechita{
    position: absolute;
    opacity: 0;
}
.flechita2{
    position: absolute;
    opacity: 0;
}
.btn-presentacion div{
    transition: 400ms all ease;
    -webkit-transition: 400ms all ease;
    -moz-transition: 400ms all ease;
    -ms-transition: 400ms all ease;
    -o-transition: 400ms all ease;
}
.btn-presentacion div:hover a{
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transition: 400ms all ease;
    -webkit-transition: 400ms all ease;
    -moz-transition: 400ms all ease;
    -ms-transition: 400ms all ease;
    -o-transition: 400ms all ease;
}
.btn-presentacion div:hover .flechita{
    position: unset;
    color: white;
    opacity: 100%;
    transform: translateX(5px);
    transition: 400ms all ease;
    -webkit-transition: 400ms all ease;
    -moz-transition: 400ms all ease;
    -ms-transition: 400ms all ease;
    -o-transition: 400ms all ease;
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}
.btn-presentacion div:hover .flechita2{
    position: unset;
    transform: translateX(5px);
    color: white;
    opacity: 100%;
    transition: 400ms all ease;
    -webkit-transition: 400ms all ease;
    -moz-transition: 400ms all ease;
    -ms-transition: 400ms all ease;
    -o-transition: 400ms all ease;
}

.flechas{
    position: absolute;
    bottom: 0;
    left: 12px;
}
.flechas2{
    display: none;
    bottom: 0;
    margin-top: 20px;
    text-align: center;
    padding-left: 20px;
    width: 100%;
}
.flechas2 svg,
.flechas svg{
    color: white;
    margin-right: 20px;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
    cursor: pointer;
}

.flechas svg:hover{
    color: #5A5B5E;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
}

/* ************************************** */
/* SECCION 2 */

.seccion2{
    margin-top: 120px;
}

.dimen2 .col-md-12{
    display: flex;
    align-items: center;
    height: 75%;
}
.paciente{
    width: 60%!important;
}
.dimen2 .col-md-12 div{
    width: 300px;
    height: 248px;
}
.dimen2 .col-md-12 div h2{
    font-size: 24px;
    font-weight: 700;
    color: var(--lilaa);
}
.dimen2 .col-md-12 div h3{
    width: 60px;
    height: 2px;
}
.dimen2 .col-md-12 div p{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #5A5B5E;
}
.dimen2 .row .col-md-12 {
    display: flex;
    justify-content: space-between;
}
.dimen2 .row .col-md-12 .hver1{
    background: var(--rosa);
}
.dimen2 .row .col-md-12 .hver2{
    background: var(--lilaa)
}
.dimen2 .row .col-md-12 .hver3{
    background: var(--azull);
}

.dimen2 .row .col-md-12 > div {
    width: 400px;
    height: 340px;
    box-shadow: 0px 10px 30px #00000010;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    transition: 300ms all ease;
    justify-content: center;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.dimen2 .row .col-md-12 > div:hover{
    transition: 300ms all ease;
    background: white;
    color: white!important;
}


.dimen2 .row .col-md-12 div:hover p
{
    color: #313133;
}
.dimen2 .row .col-md-12 .hver1:hover h2{
    color: var(--rosa);
}
.dimen2 .row .col-md-12 .hver2:hover h2{
    color: var(--lilaa)
}
.dimen2 .row .col-md-12 .hver3:hover h2{
    color:var(--azull);
}

.dimen2 .row .col-md-12 .hver1:hover img,
.dimen2 .row .col-md-12 .hver2:hover img,
.dimen2 .row .col-md-12 .hver3:hover img{
    transition: 300ms all ease;
    transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -o-transform: translateY(-12px);
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    background: white;
    border-radius: 100%;
    -o-transition: 300ms all ease;
}


.dimen2 .col-md-8 .row .col-md-6 :first-child div,
.dimen2 .col-md-8 .row .col-md-6 :nth-child(2) div{
    box-shadow: none;
    text-align: left;
    width: 290px;
    margin-top: 40px;
    height: auto;
    display: unset;
}

.dimen2 .row .col-md-12 div img{
   width: 70px;
   margin-bottom: 20px;
   background: white;
   color: white;
   transition: 400ms all ease;
   border-radius: 100%;
   -webkit-transition: 400ms all ease;
   -moz-transition: 400ms all ease;
   -ms-transition: 400ms all ease;
   -o-transition: 400ms all ease;
}
.dimen2 .row .col-md-12 div h2{
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
    font-weight: 400;
    margin-bottom: 28px!important;
}
.dimen2 .row .col-md-12 div p{
    font-size: 14px;
    font-family: var(--lato);
    color: white;
}

/* NUESTROS SERVICIOS */
 
.seccion3{
    height: auto;
    background: var(--lilaa);
    margin-top: 180px;
    padding-top: 60px;
    overflow: hidden;
    position: relative;
}

.cabecera{
    width: 970px;
    margin: auto;
    height: 146px;
    color: white;
    text-align: center;
    margin-bottom: 44px;
}

.cabecera h2{
    font-size: 24px;
    font-weight: 700;
}
.cabecera h3{
    width: 60px;
    height: 2px;
    background: #FFFFFF;
    margin: auto;
    margin-top: 37px;
    margin-bottom: 20px;
}
.cabecera p{
    font-size: 16px;
    font-weight: 400;
}

.btn-um-hc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.btn-um-hc div{
    width: 526px;
    height: 60px;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: 700;
    }
    .um{
        background: var(--rosa);
    }
    .hc{
        background: var(--azull);
    }   

.servicio-descripcion{
    height: auto;
    padding-bottom: 226px;
        }
        .servicio-descripcion .box{
            width: 100%;
            height: 48px;
            padding-top: 10px!important;
            cursor: pointer;
            flex-wrap: wrap;
            cursor: pointer;
            background: var(--rosa);
            display: flex;
            align-items: center;
            color: white;
            z-index: 100;
            font-size: 18px;
            overflow: hidden;
            font-weight: 700;
            margin-bottom: 10px;
            justify-content: space-between;
            border-radius: 4px;
            padding: 0 20px;
            transition: 300ms all ease;
            -webkit-transition: 300ms all ease;
            -moz-transition: 300ms all ease;
            -ms-transition: 300ms all ease;
            -o-transition: 300ms all ease;
        }
        .azul .box{
            background: var(--azull);
        }
        .prueba{
            background: red;
            opacity: 50%!important;
        }

        .click-box{
            height: 220px!important;
        }
        .mas-info{
            z-index: 100;
            height: 220px;
            padding-top: 15px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            transition: 300ms all ease;
            -webkit-transition: 300ms all ease;
            -moz-transition: 300ms all ease;
            -ms-transition: 300ms all ease;
            -o-transition: 300ms all ease;
        }
        .mas-info p{
            font-size: 13px;
        }
        .ver{
            opacity: 100%;
        }

        .img-info{
            border-radius: 10px;
            width: 180px;
            height: 140px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

.p-r{
    padding-right: 0!important;
}
.p-l{
    padding-left: 0!important;
}


.cuadro-efecto .linea svg{
    color: var(--rosa);
    transition: 600ms all ease;
}

.cambio{
    border: 1px solid #0099DC!important;
    transition: 600ms all ease;
    -moz-transition: 600ms all ease;
    -ms-transition: 600ms all ease;
    -o-transition: 600ms all ease;
    -webkit-transition: 600ms all ease;
}

.cambioColor{
    transition: 600ms all ease;
    color: #0099DC!important;
    -webkit-transition: 600ms all ease;
    -moz-transition: 600ms all ease;
    -ms-transition: 600ms all ease;
    -o-transition: 600ms all ease;
}


.mostrar{
    opacity: 100%;
    transition: 3s all ease;
    -webkit-transition: 3s all ease;
    -moz-transition: 3s all ease;
    -ms-transition: 3s all ease;
    -o-transition: 3s all ease;
}

.ocultar{
    opacity: 0%;
}



.mostarr{
    left: 0%;
    transition: 3s all ease;
    -webkit-transition: 3s all ease;
    -moz-transition: 3s all ease;
    -ms-transition: 3s all ease;
    -o-transition: 3s all ease;
}

.mover{
    transition: 3s all ease;
    transform: translateX(1000px);
    -webkit-transform: translateX(1000px);
    -moz-transform: translateX(1000px);
    -ms-transform: translateX(1000px);
    -o-transform: translateX(1000px);
    -webkit-transition: 3s all ease;
    -moz-transition: 3s all ease;
    -ms-transition: 3s all ease;
    -o-transition: 3s all ease;
}


.moverP{
    transition: 1s all ease;
    left: unset!important;
    transform: translateX(523px);
    opacity: 100%!important;
    -webkit-transform: translateX(523px);
    -moz-transform: translateX(523px);
    -ms-transform: translateX(523px);
    -o-transform: translateX(523px);
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
}
.moverOcultar{
    transition: 1s all ease;
    left: unset!important;
    transform: translateX(615px);
    opacity: 0%;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
    -o-transition: 1s all ease;
}


.seccion4{
    margin-top: 110px;
    margin-bottom: 128px;
}

.seccion4 .container{
    height: 462px;
}

.fix img{
    width: 100%;
}
.n-mision{
    width: 470px;
    height: 310px;
    margin-top: 45px;
}

.n-mision h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    font-family: var(--lato);
    color: var(--azull);
    margin-bottom: 30px;
}
.n-mision p{
    /* width: 440px; */
    font-size: 16px;
    font-weight: 400;
    color: #5A5B5E;
    line-height: 30px;
    font-family: var(--lato);
}
.linea {
    background: var(--azull);
    width: 60px;
    height: 2px;
}


.seccion5 {
    height: 800px;
}
.seccion5 .acomodo{
    display: flex;
    height: auto;
    flex-wrap: wrap;
}

.seccion5{
    height: auto;
}    
.seccion5 .acomodo .info{
    background: white;
}
.seccion5 .acomodo .info:first-child div{
    width: 270px;
    height: 222px;
}

.seccion5 .acomodo .info h1{
    font-size: 26px;
    font-weight: 700;
    font-family: var(--lato);
    color: var(--rosa);
    margin-bottom: 38px;
}
.seccion5 .acomodo .info h2{
    background: var(--rosa);
}
.seccion5 .acomodo .info p{
    margin-top: 26px;
    width: 570px;
}


.seccion5 .acomodo .caract{
    background: var(--rosa);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pp{
    padding-top: 135px;
}

.seccion5 .acomodo .caract2{
    background: var(--lilaa);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contraste{
    position: relative;
}
.contraste img{
    width: 100%;
}

.contraste::before{
    content: "";
    width: 100%;
    height: 100%;
    background: #0099DC60;
    position: absolute;
    left: 0;
    top: 0;
}
.seccion5 .text-acomodo{
    background: var(--lilaa);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 15px;
}
.seccion5 .text-acomodo2{
    padding-left: 15px;
    height: 100%;
    background: var(--rosa);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.seccion5 .col-md-6 .esp-d h1,
 .seccion5 .col-md-6 .esp-d h1{
    font-size: 18px;
    font-weight: 700;
    font-family: var(--lato);
    color: #FFFFFF;
    margin-bottom: 18px;
}
.seccion5 .esp-d p,
.seccion5 .esp-d p{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--lato);
    color: #FFFFFF;
    margin-left: 39px;  
}


.seccion6{
    height: auto;
    margin-top: 130px;
    margin-bottom: 70px;
}

.seccion6 .col-md-3{
    height: 700px;
    position: relative;
}
.seccion6 .col-md-3 div{
    width: 270px;
    height: 275px;
}
.seccion6 .col-md-3 div h3{
    background: var(--lilaa);
}
.seccion6 .col-md-3 div p{
    margin-top: 20px;
    width: 246px;
}
.seccion6 .col-md-3  img{
    position: absolute;
    left: -45px;
}
.seccion6 .col-md-3 div h1{
    font-size: 24px;
    font-weight: 700;
    color: var(--lilaa);
    font-family: var(--lato);
    margin-bottom: 40px;
}


.seccion6 .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.seccion6 .col-md-6 div{
    height: 140px;
    display: flex;
    
}

.seccion6 .col-md-6 .svg{
    width: 140px;
    height: 140px;
}
.seccion6 .col-md-6 div .svg img{
    width: 100%;
    height:100%;
}
.seccion6 .col-md-6 .info{
    width: 90%;
    display: flex;
    height: 128px;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.seccion6 .col-md-6 .info h1{
    font-size: 18px;
    font-weight: 400;
    color: var(--rosa);
    font-family: var(--lato);
}

footer{
    height: auto;
    background: var(--lilaa);
    padding-top: 85px;
    
}

footer .col-md-3 img{
    width: 270px;
    height: 100px;
    margin-bottom: 40px;
}

footer .col-md-3 div h1{
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: var(--lato);
    margin-bottom: 25px;
}


footer .col-md-3 div h3{
    color: white;
    margin-bottom: 20px;
}
footer .col-md-3 div p{
    color: white;
    width: 270px;
}
footer .col-md-3 div h2{
    color: white;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: var(--lato);
    margin-bottom: 30px;
}
footer .col-md-3 div h3{
    background: white;
}
footer .col-md-3 .cont{
    width: 266px;
    height: 60px;
    background: var(--rosa);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: var(--lato);
}
footer .col-md-3 .cont:hover{
    background: #F50889;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
}
footer .col-md-3 .cont:hover{
    letter-spacing: 3px;
    transition:300ms all ease;
    -moz-transition:300ms all ease;
    -ms-transition:300ms all ease;
    -o-transition:300ms all ease;
    -webkit-transition:300ms all ease;
}

.credit-card i {
    margin-right: 10px;
    color: white;
    font-size: 48px;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
}
.credit-card i:hover {
    color: #D696FF;
}


footer .col-md-3 .redes{
    display: flex;
    width: 55px;
    justify-content: space-between;
    background: none!important;
}
footer .col-md-3 div .redes svg{
    color: white;
    cursor: pointer;
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
}
footer .col-md-3 div .redes svg:hover{
    color: var(--rosa);
    transition: 300ms all ease;
    -webkit-transition: 300ms all ease;
    -moz-transition: 300ms all ease;
    -ms-transition: 300ms all ease;
    -o-transition: 300ms all ease;
}
footer .col-md-6{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .col-md-6 div{
    width: 270px;
    height: 180px;
    color: white;
}
footer .col-md-6 div h1{
    font-size: 20px;
    font-family: var(--lato);
    font-weight: 700;
    color:white ;
    margin-bottom: 20px;
}
footer .col-md-6 div p{
    font-size: 16px;
    font-family: var(--lato);
    font-weight: 400;
}

.derechos p {
    margin: 0;
}
.derechos{
    background: var(--lilaa--fuerte);
    height: 90px;
    align-items: center;
    display: flex;
    margin-top: 30px;
}

.derechos .col-md-6 p{
    color: white;
    font-size: 12px;
    font-weight: 400;
    font-family: var(--lato);
}

@media screen and (max-width: 800px) {
    
    .logo2{
        display: unset;
        width: 120px;
    }
    .nav-redes :nth-child(3){
        margin-bottom: 15px;
    }

    .config-mobil{
        position: absolute!important;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 10px;
        z-index: 1000000;
        height: 93px;
        background: var(--rosa);
        box-shadow: 0 5px 10px #00000030;
    }
    .navbar-collapse{
        position: absolute;
        left: 0;
        right: 0;
        top: 99%;
        background: var(--rosa);
    }

    .n-mision h2{
        font-size: 17px;
        line-height: 25px;
    }
    

        .logo{
            display: none;
        }

        .navbar-nav{
            text-align: center;
            margin: 15px 0px;
        }
        
        .btn-presentacion{
            margin: auto;
            margin-bottom: 20px;
        }

        .c-presentacion{
            text-align: center;
            height: 190px;
        }

        .dimen{
            height: 510px;
        }

        .seccion{
            margin-top: 70px;
        }

        .flechas{
            width: 100%;
            text-align: center;
        }

        .dimen .col-md-5{
            height: 290px;
            position:
             absolute;
            bottom: 0;
        }
        footer .col-md-3 div p{
            width: 80%;
            margin: auto;
            margin-bottom: 20px;
        }
 

        .c-presentacion h2{
            font-size: 25px;
        }

        .img-esteto{
            height: 250px;
            width: 100%;
            background-size: 303px;
            background-position: bottom;
        }

        .servicio-descripcion .box{
            width: 90%;
            margin: auto;
            margin-bottom: 10px;
        }

        .btn-um-hc div{
            width: 90%;
            margin: auto;
        }

        .navbar-nav h1{
            margin-bottom: 30px;
        }

        .cabecera{
            width: 80%;
            margin-bottom: 100px;
        }
        .c-presentacion p{
            margin-bottom: 0;
            margin-top: 15px;
            padding: 20px;
        }
        .servicio-descripcion{
            padding-bottom: 100px;
        }
        .nav-redes{
            margin: auto;
        }

        .cont-whats{
            width: 70%;
        }
        
        .flechas{
            width: 100%;
            padding-left: 20px;
            left: 0;
        }

        .flechas{
            display: none;
        }
                
        .dimen2 .col-md-12 div{
            width: 100%;
        }
        .flechas2{
            display: unset;
        }
        .navbar-nav{
            width: 100%;
        }

        .seccion2{
            margin-top: 80px;
        }

        .estilo-c{
            margin: auto;
        }
        .dimen2 .col-md-8 .row .col-md-6 div{
            width: 350px;
        }
        .dimen2 .col-md-3 div{
            width: 100%;
            text-align: center;
            padding: 20px;
        }
        .dimen2 .col-md-3 div h3{
            margin: auto;
        }
        .dimen2 .col-md-3{
            height: auto;
        }
        .dimen2 .col-md-8 .row .col-md-6 :first-child div{
            text-align: center;
        }
        .dimen2 .col-md-8 .row .col-md-6 :nth-child(2) div{
            text-align: center;
        }
        
        .seccion6 .col-md-6 div{
            width: 100%;
            display: flex;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .seccion6 .col-md-3 div p{
            width: 90%;
            margin: auto;
        }
        .seccion6 .col-md-3 div{
            width: 100%;
            text-align: center;
            height: 250px;
        }
        .linea{
            margin: auto;
        }
        .seccion6 .col-md-3{
            height: auto;
            margin-bottom: 20px;
        }

        .seccion6 .col-md-3  img{
            width: 100%;
            position: unset;
        }

        footer .col-md-3{
            text-align: center;
            margin-bottom: 20px;
        }
        .cont{
            margin: auto;
            margin-bottom: 15px!important;
        }

        .seccion6 .col-md-6 .svg{
            width: 100px;
            height: 100px;
        }

        .cont-texto{
            height: 50px;
        }
        .cont-texto img{
            width: 40px;
            padding: 5px;
            left: -20px;
            height: 40px;
        }
        .cont-texto h1{
            font-size: 14px;
        }

        .cont-texto p{
            font-size: 11px;
        }
        .btn-whatsapp{
            width: 65px;
            height: 65px;
        }
        .btn-whatsapp svg{
            width: 35px;
            height: 35px;
        
        }

        footer .col-md-6{
            flex-direction: column;
        }
        footer .col-md-6 div p{
            font-size: 15px;
            margin-top: 15px;
        }
        .redes{
            margin: auto;
        }

        footer .col-md-6 div{
            height: auto;
            width: auto;
        }
        .derechos .col-md-6 p{
            text-align: center;
            margin-top: 10px;
            margin-right: 20px!important;
        }
        .dimen2 .row .col-md-12{
            flex-wrap: wrap;
            justify-content: center;
        }

        .seccion6 .col-md-6 .info{
            margin-left: unset;
        }
        .derechos{
            height: auto;
        }
        .dimen2 .row .col-md-12 > div{
            text-align: center;
            padding: 20px;
            margin-bottom: 20px;
        }

        .subb{
            display: flex;
            flex-wrap: wrap;
            justify-content: center!important;
            margin: 20px 0!important;
            align-items: center;
            flex-direction: row!important;
        }
        .seccion5 .text-acomodo, .seccion5 .text-acomodo2{
            padding: 35px 10px;
        }

        .acomodo{
            padding: 0;
        }
        .seccion5 .acomodo div{
            width: 100%;
        }
        .seccion6{
            margin-top: 80px;
        }

        .seccion6 .col-md-6{
            height: auto;
            margin-top: 50px;
        }

        .navegacion .container{
            border-bottom: 1px solid white;
        }

        .seccion4 .container{
            height: auto;
        }
        .texto-descripcion{
            text-align: center;
        }
        .fix img{
            width: 100%;
        }
        .n-mision{
            text-align: center;
            padding: 0px 20px;
        }
        .dimen2 .col-md-12 div h3{
            margin: auto;
        }

        .seccion5 .acomodo .info{
            width: 100%;
        }

        .seccion5 .acomodo .info:first-child div{
            width: 100%;
            text-align: center;
            padding: 0 20px;
        }

        .dimen2{
            height: auto;
            padding: 20px;
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 0;
        }
      
        .esp-d{
            margin: auto;
            width: 90%;
        }

        .cuadro-efecto{
            width: 90%!important;
        }

        .seccion5 .acomodo .info p{
            width: 100%;
        }

        .p-r{
            padding: 0!important;
        }
        .p-l{
            padding: 0!important;
        }

        .paciente{
            width: 90%!important;
            margin: auto;
        }
       
        .cuadro-efecto .linea{
            display: none;
        }
      
        .nav-fijo{
            padding: 0!important;
            z-index: 10000;
            background: var(--rosa);
            position: fixed!important;
            left: 0;
            right: 0;
            top: 0;
            height: 100px;
            border-bottom: 1px solid white;
        }
        
        
     
}
